.card{
  background-color:rgba(255,255,255, 0.65);
}
.card-footer a{
  display:block;
  text-align:right;
}
.hero-foot{
  margin:none;
  text-align:left;
  padding: 0 2px 20px 60px;
}
.myImg{
  border-radius:10px; 
}