.page-body {
  background-color: rgba(21, 16, 88, 0.75);
  height:100vh;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color:#64c58d;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: royalblue;
}

.card{
    background-color:rgba(255,255,255, 0.35);
}
.card-footer a{
    display:block;
    text-align:right;
}
.hero-foot{
    margin:none;
    text-align:left;
    padding: 0 2px 20px 60px;
}
figure.image img{
    border-radius:10px;
}
div.select{
    width:100%;
}
.head-title, .header-title:hover{
  color: white;
}
.move-right{
  float:right;
}
        